@import '../../../../../../../../styles/base-styles.scss';

.dot {
  display: inline-block;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  border: 2px solid $gray;
  background-color: $bg;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.3s;

  &:last-child {
    margin-right: 0;
  }

  @include sm {
    width: 10px;
    height: 10px;
  }

  &Active {
    width: 25px;
    height: 25px;

    @include sm {
      width: 20px;
      height: 20px;
    }
  }

  // &Previous {
  //   width: 15px;
  //   height: 15px;
  // }
}