@import '../../../../../../../styles/base-styles.scss';

.menuContainer {
  text-align: center;
  width: 1000px;

  @include md {
    width: 100%;
    max-width: 1000px;
  }

  .mainTitle {
    @include main-title-menu;
  }

  .content {
    display: flex;

    @include sm {
      flex-direction: column;
    }

    @include landscape-xs {
      flex-direction: column;
    }

    .menu {
      @include menu-item-block;

      & > h1 {
        margin-bottom: 10px;
      }

      .course {
        margin-bottom: 30px;

        &:last-child {
          margin-bottom: 0;
        }

        & > h1 {
          font-family: $font-stack-monotype;
          margin-bottom: 10px;

          @include sm {
            font-size: $font-size-large;
          }
        }

        & > p {
          @include main-items-menu-p;
          margin-bottom: 10px;
        } 
      }
    }
  }
}

.menuDay {
  display: none;
  opacity: 0;

  &Visible {
    display: block;
    opacity: 1;
  }
}

.animation {
  animation: menu-on 1s;
}

@include menu-slider-animation;