@import '../../../styles/base-styles.scss';

.pageContainer {
  position: absolute;
  top: 0;
  padding-bottom: $main-pagging-bottom-primary;
  width: 100%;
  height: 100%;

  &Primary {
    @include sm {
      padding-bottom: $main-pagging-bottom-sm;
      padding-top: calc(#{$header-height} + #{$main-padding});
    }
  }

  &Menu {
    @include sm {
      padding-bottom: 0;
      position: relative;
      height: 100%;
    }

    @include landscape-md {
      padding-bottom: 0;
      position: relative;
      height: 100%;
    }

    @include landscape-xs {
      padding-bottom: 0;
      position: relative;
      height: 100%;
    }

    @include xs {
      height: 100%;
    }

  }

  .mainContentContainer {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    @include flex-align-center;
    
    @include md {
      justify-content: center;
    }

    .contentArea {
      padding: 60px;
      background-color: $white-80;
      border-top-left-radius: 50px;
      border-bottom-right-radius: 50px;
      color: $dark-gray;

      @include xs {
        padding: 35px;
      }
    
      @include landscape {
        padding: 35px;
      }
    }
  }

  .mainContentContainer.contentLeft {
    padding-left: 5%;

    @include md {
      padding: 0 7%;
    }
  }

  .mainContentContainer.contentCenter {
    justify-content: center;

    @include lg {
      padding: 0 30px;
    }

    @include sm {
      padding: 15px;
      padding-bottom: 60px;
    }

    @include landscape-md {
      padding: 30px;
      padding-bottom: 60px;
    }

    @include landscape-xs {
      padding: 15px;
      padding-bottom: 60px;
    }

    .contentArea {
      padding: 0;
    }
  }
}