@import '../../../styles/base-styles.scss';

.pageContainer {
  background-position: center;
  background-size: cover;

  &Primary {
    position: absolute;
    top: 25px;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;

    @include md {
      justify-content: center;
    }

    @include landscape {
      position: static;
      padding: 40px;
      margin-top: 25px;
    }
  }

  &Menu {
    // position: absolute;
    // top: $breadcrumbs-height;
    // bottom: #{$padding-bottom-position-absolute};

    // @include sm {
    //   position: inherit;
    //   top: 0;
    // }

    // @include landscape-md {
    //   position: inherit;
    //   top: 0;
    // }

    // @include landscape-xs {
    //   position: inherit;
    //   top: 0;
    // }
  }

  .contentArea {
    background-color: $white-80;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    color: $dark-gray;
  }

  
}

.contentCenter {
  padding: 40px;
  text-align: center;

  @include sm {
    padding: 25px;
  }



  // @include sm {
  //   padding: 20px;
  //   // padding-bottom: 60px;
  // }

  // @include landscape-md {
  //   // padding-bottom: 60px;
  // }

  // @include landscape-xs {
  //   // padding: 20px;
  //   // padding-bottom: 60px;
  // }

  .contentArea {
    display: inline-block;
    // max-width: 60%;
    // margin: 0 auto;
    // position: relative;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);

    @include md {
      width: 100%;
    }
  }
}