@import './fonts/fonts.scss';

$font-weight-primary: 500;
$font-size-primary: 14px;
$font-stack: Arial, Helvetica, sans-serif;
$font-stack-main-title: 'MonotypeCorsiva', Helvetica, sans-serif;

$font: $font-weight-primary $font-size-primary $font-stack;

$font-size-larger: 1.2rem;
$font-size-large: 1.5rem;
$font-size-x-large: 2rem;
$font-size-xx-large: 3rem;

$font-main-title: $font-weight-primary $font-size-xx-large $font-stack-main-title;