@import '../../../styles/base-styles.scss';
@import '../../../typography/typography.scss';

.homePage {
  @include page-width;    

  .line {
    width: 50%;
    height: 3px;
    background-color: $lightgray;
    border-radius: 20%;
    margin: 40px auto;

    @include xs {
      margin: 25px auto;
    }
  }
}