@import '../../../styles/base-styles.scss';
@import '../../../typography/typography.scss';

.homePage {
  @include page-width;

  .aboutChef {
    width: 90%;
    margin: 0 auto;

    @include md {
      width: 80%;
      @include flex-column-align-center;
    }

    @include sm {
      width: 90%;
    }

    .photo {
      min-width: 500px;
      width: 500px;
      overflow: hidden;
      float: left;
      margin-right: 40px;
      margin-bottom: 15px;
  
      & > img {
        width: 100%;
        height: 100%;
      }

      @include lg {
        min-width: 430px;
        width: 430px;
      }

      @include md {
        float: none;
        margin-right: 0;
        margin-bottom: 20px;
        min-width: 360px;
        width: 360px;
      }

      @include sm {
        min-width: 290px;
        width: 290px;
      }

      @include xs {
        margin-bottom: 15px;
        min-width: 220px;
        width: 220px;
      }
    }

    .description {
      font-style: italic;
      font-size: $font-size-large;
      text-align: justify;
      line-height: 1.5;

      @include md {
        font-size: $font-size-larger;
      }

      @include xs {
        font-size: $font-size-primary;
      }

      @include landscape {
        font-size: $font-size-primary;
      }

      & > p {
        margin-bottom: 20px;
        text-indent: 15px;

        @include xs {
          margin-bottom: 10px;
        }
      }
    }
  }

  
}