@import '../../typography/typography.scss';
@import '../../styles/base-styles.scss';

* {
  box-sizing: border-box;
}

html,
button,
input {
  font: $font;
}

button,
input {
  cursor: pointer;
  outline: none;
}

body {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
}

a {
  text-decoration: none;
  color: $primary;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}

.app {
  margin: 0 auto;
  position: relative;

  &Hidden {
    opacity: 0.5;
    background-color: $bg;

    & > div:first-child {
      background-color: $lightgray;
    }

    .main {
      pointer-events: none;
    }
  }

  .main {
    padding-bottom: $main-pagging-bottom-primary;
    position: relative;

    @include sm {
      padding-bottom: $main-pagging-bottom-sm;
      padding-top: calc(#{$header-height} + #{$main-padding});
    }
  }
}