@import '../../../../../../../styles/base-styles.scss';

.menuContainer {
  text-align: center;
  max-width: 500px;
  width: 500px;
  margin: 0 auto;

  @include xs {
    width: 100%;
    max-width: 500px;
  }

  .mainTitle {
    @include main-title-menu;
  }

  .content > p {
    @include main-items-menu-p;
  }
}

.menuDay {
  display: none;
  opacity: 0;

  &Visible {
    display: block;
    opacity: 1;
  }
}

.animation {
  animation: menu-on 1s;
}

@include menu-slider-animation;