@import '../../typography/typography.scss';
@import '../../styles/base-styles.scss';

.header {
  @include flex-column-center-center;
  @include page-width;
  padding: 35px 0;

  @include sm {
    align-items: flex-end;
    padding: 25px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: $white;
    width: 100%;
    height: $header-height;
    border-bottom: 1.5px solid $lightgray;

    .title,
    .subtitle {
      display: none;
    }
  }

  .titleBlock {
    text-align: center;

    .title,
    .titleSmallScreen,
    .subtitle {
      font: $font-main-title;
    }

    .titleSmallScreen {
      display: none;
      margin-right: 25px;

      @include sm {
        display: block;
        font-size: $font-size-large;
      }
    }

    .subtitle {
      margin-top: 7px;
      font-size: $font-size-large;
    }
  }
}
