@import '../../typography/typography.scss';
@import '../../styles/base-styles.scss';

.footer {
  @include flex-center-center;
  width: 100%;
  height: $footer-size-primary;
  background-color: $lightgray;
  position: absolute;
  bottom: 0;
  left: 0;

  @include sm {
    height: $footer-size-sm;
  }

  .link {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }

    i {
      background-color: $white;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      position: relative;
      color: $lightgray;
      font-size: $font-size-large;
  
      &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      @include sm {
        width: 35px;
        height: 35px;
        font-size: $font-size-larger;

        &:before {
          top: 53%;
        }
      }
    }
  }
}