@import '../../../styles/base-styles.scss';
@import '../../../typography/typography.scss';

.photoViewer {
  padding: 5% 0;
  position: relative;
  height: 100%;

  @include sm {
    padding: 0;
  }

  .photoBlock {
    width: 85%;
    height: 100%;
    margin: 0 auto;

    .photo {
      margin: 0 auto;
      width: 50%;
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      @include md {
        width: 70%;
        height: 90%;
      }

      @include sm {
        width: 90%;
        height: 80%;
      }
    }

    .description {
      color: $white;
      font-style: italic;
      text-align: center;
      font-size: $font-size-larger;

      @include xs {
        font-size: $font-size-primary;
      }
    }
  }

  .toggle {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    border-top: 2px solid $white;
    cursor: pointer;

    &:first-child {
      border-left: 2px solid $white;
      transform: rotate(-45deg) translateY(-50%);
      left: 5%;
    }

    &:last-child {
      border-right: 2px solid $white;
      transform: rotate(45deg) translateY(-50%);
      right: 5%;
    }

    @include md {
      top: 45%;
    }

    @include sm {
      top: 40%;
    }

    @include xs {
      width: 17px;
      height: 17px;
    }
  }
}

.closePhoto {
  animation: closePhoto 0.7s;
}

.openPhoto {
  animation: openPhoto 0.7s;
}

@keyframes openPhoto {
  from {
    opacity: 0;
    visibility: hidden;
  }

  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes closePhoto {
  from {
    opacity: 1;
    visibility: visible;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}
