@import '../../../styles/base-styles.scss';

.viewerContainer {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $bg-light-black;
  z-index: 2;

  .exitBtn {
    width: $exit-btn-size-xl;
    height: $exit-btn-size-xl;
    stroke: $white;
    stroke-width: 20;
    position: absolute;
    right: $photo-viewer-indent-xl;
    top: $photo-viewer-indent-xl;
    z-index: 3;
    cursor: pointer;

    @include md {
      width: $exit-btn-size-md;
      height: $exit-btn-size-md;
      right: $photo-viewer-indent-md;
      top: $photo-viewer-indent-md;
    }

    @include xs {
      width: $exit-btn-size-xs;
      height: $exit-btn-size-xs;
      right: $photo-viewer-indent-xs;
      top: $photo-viewer-indent-xs;
    }
  }
}