@import '../../typography/typography.scss';

$xs-screen: 576px;
$sm-screen: 768px;
$md-screen: 1032px;
$lg-screen: 1370px;
$landscape-screen: 900px;

$lg-xl-screen: 1427px;

/* Extra Small devices (portrait phones, less than 576px) */
@mixin xs {
  @media (max-width: #{$xs-screen - 0.1px}) {
    @content;
  }
}

/* Small devices (landscape phones, less than 768px) */
@mixin sm {
  @media (max-width: #{$sm-screen - 0.1px}) {
    @content;
  }
}

/* Medium devices (tablets, less than 1032px) */
@mixin md {
  @media (max-width: #{$md-screen - 0.1px}) {
    @content;
  }
}

/* Large devices (desktops, less than 1370px) */
@mixin lg {
  @media (max-width: #{$lg-screen - 0.1px}) {
    @content;
  }
}

@mixin lg-xl {
  @media (max-width: #{$lg-xl-screen - 0.1px}) {
    @content;
  }
}

@mixin landscape {
  @media (orientation: landscape) and (max-width: #{$landscape-screen - 0.1px}) {
    @content;
  }
}

@mixin landscape-xs {
  @media (orientation: landscape) and
          (max-height: #{$xs-screen - 0.1px}) and
          (max-width: #{$landscape-screen - 0.1px}) {
    @content;
  }
}

@mixin landscape-md {
  @media (orientation: landscape) and
          (max-height: #{$landscape-screen - 0.1px}) and
          (max-width: #{$md-screen - 0.1px}) {
    @content;
  }
}

@mixin flex-align-center {
  display: flex;
  align-items: center;
}

@mixin flex-justify-center {
  display: flex;
  justify-content: center;
}

@mixin flex-justify-around {
  display: flex;
  justify-content: space-around;
}

@mixin flex-justify-between {
  display: flex;
  justify-content: space-between;
}

@mixin flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-column-align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flex-column-center-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin flex-column-center-around {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

@mixin position-absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin page-width {
  width: 70%;
  margin: 0 auto;
  padding-top: 25px;

  @include lg-xl {
    width: 80%;
  }

  @include md {
    width: 85%;
  }

  @include sm {
    width: 95%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@mixin main-title-menu {
  font-family: $font-stack-monotype;
  font-size: $font-size-xx-large;
  margin-bottom: 25px;

  @include sm {
    font-size: $font-size-x-large;
  }
}

@mixin main-items-menu-p {
  font-size: $font-size-larger;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }

  @include sm {
    font-size: $font-size-primary;
  }
}

@mixin second-h1-menu {
  font-family: $font-stack-monotype;
  margin-bottom: 15px;

  @include sm {
    font-size: $font-size-large;
  }
}

@mixin menu-item-block {
  flex-basis: 50%;

  &:first-child {
    position: relative;
    padding-right: 30px;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      height: 80%;
      transform: translateY(-50%);
      border-right: 2px dashed $dark-gray;

      @include sm {
        width: 50%;
        height: initial;
        top: initial;
        right: initial;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 0);
        border-right: none;
        border-bottom: 2px dashed $dark-gray;
      }

      @include landscape-xs {
        width: 50%;
        height: initial;
        top: initial;
        right: initial;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 0);
        border-right: none;
        border-bottom: 2px dashed $dark-gray;
      }
    }

    @include sm {
      padding-right: 0;
      padding-bottom: 20px;
    }

    @include landscape-xs {
      padding-right: 0;
      padding-bottom: 20px;
    }
  }

  &:last-child {
    padding-left: 30px;

    @include sm {
      padding-left: 0;
      padding-top: 20px;
    }

    @include landscape-xs {
      padding-left: 0;
      padding-top: 20px;
    }
  }

  & > h1 {
    @include second-h1-menu;
  }

  & > p {
    @include main-items-menu-p;
  }
}

@mixin menu-slider-animation {
  @keyframes menu-on {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}