$header-height: 74px;

$photo-viewer-indent-xl: 50px;
$photo-viewer-indent-md: 35px;
$photo-viewer-indent-xs: 20px;
$padding-top-xl: calc(2 * #{$photo-viewer-indent-xl});
$padding-top-md: calc(2 * #{$photo-viewer-indent-md});
$padding-top-xs: calc(2 * #{$photo-viewer-indent-xs});

$gradient-btn: linear-gradient(#ffffff, #ececec);
$box-shadow: #0000003a;