$photo-viewer-indent-xl: 50px;
$photo-viewer-indent-md: 35px;
$photo-viewer-indent-xs: 20px;

$exit-btn-size-xl: 20px;
$exit-btn-size-md: 17px;
$exit-btn-size-xs: 15px;

$toggle-arrow-size-xl: $exit-btn-size-xl;
$toggle-arrow-size-md: $exit-btn-size-md;
$toggle-arrow-size-xs: $exit-btn-size-xs;
